{% extends "base.html" %}

{% block title %}
Xbox Devstore | Apps, Emulators & Tools
{% endblock %}

{% block content %}
{% for category in categories %}
    {% if not category.hidden %}
        <div class="mb-6">
            <h1 class="text-3xl font-semibold text-green-600 mb-4 dark:text-green-400">| {{ category.name }}</h1>
            <div class="grid gap-6 md:grid-cols-3">
                {% for product in products %}
                    {% if product.category.id == category.id and not product.hidden %}
                        <div class="card border rounded-lg p-4 shadow-lg flex flex-col justify-between">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover rounded-t-lg">
                            <div class="p-4 text-center flex flex-col justify-between flex-grow">
                                <div>
                                    <h2 class="card-title text-lg font-bold">{{ product.name }}</h2>
                                    <p class="card-description text-gray-700 mb-4">{{ product.description | safe }}</p>
                                </div>
                                <div class="flex justify-center space-x-4 mt-auto py-2">
                                    <a href="{{ product.file.url }}" class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 dark-mode-bg dark-mode-text-hover">Download</a>
                                    <a href="{{ product.url }}" class="bg-black text-white py-2 px-4 rounded-lg hover:bg-gray-800">Official Page</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
